tk
pyttsx3
SpeechRecognition
requests
plyer
bleak
nfcpy
nltk
forex-python
pyowm
scikit-learn
joblib
spotipy
PyDictionary
opencv-python
tensorflow
numpy
newsapi-python
google-generativeai
mediapipe
newsapi
